<div *ngFor="let row of mapMatrix; let xIndex = index" style="display: flex; flex-direction: row;">
    <div *ngFor="let cell of row; let yIndex = index" style="display: flex; flex-direction: column;">
        <span (click)="onCellClicked(xIndex, yIndex)" [ngClass]="cell.borderClass" style="width: 50px; height: 50px; border: 1px rgba(128, 128, 128, 0.213) solid;">
            <span *ngIf="cell?.token else noToken">
                <img style="width: 50px; height: 50px;" [src]="cell?.image">
            </span>
            <ng-template #noToken>
                <span>&nbsp;</span>
            </ng-template>
        </span>
    </div>
</div>
<div *ngIf="showMoveMessage">
    {{moveMessage}}
    <button (click)="onMoveButtonClicked()">Move</button>
</div>