<div style="display: flex; flex-direction: column;">
    @for (row of mapMatrix; track xIndex) {
        <div style="display: flex; flex-direction: column;">
            @for (cell of row; track yIndex) {
                <span (click)="onCellClicked(xIndex, yIndex)" class="cell">
                    @if (cell.image !== null) {
                        <img [src]="cell.image">
                    }
                    @else {
                        <span>&nbsp;</span>
                    }
                </span>
            }
        </div>
    }
</div>