<div style="display: flex; flex-direction: column;">
    @for (column of mapMatrix; track xIndex; let xIndex = $index) {
        <div style="display: flex; flex-direction: row;">
            @for (cell of column; track yIndex; let yIndex = $index) {
                <span (click)="onCellClicked(xIndex, yIndex)" class="cell">
                    @if (cell.image !== null) {
                        <img [src]="cell.image" style="width: 90px; height: 90px;">
                    }
                    @else {
                        <span>&nbsp;</span>
                    }
                </span>
            }
        </div>
    }
</div>