@switch (uiState()) {
    @case (uiStates.BattleMenu) {
        <button (click)="createBattle()">Create New Battle</button>
        <form [formGroup]="existingBattleForm">
            <span>Load Existing Battle</span>
            <input formControlName="battleId" />
            <button (click)="loadBattle()">Enter</button>
        </form>
    }
    @case (uiStates.CharacterMenu) {

    }
    @case (uiStates.Map) {
        <div>Current Players:</div>
        @for (user of usersInBattle(); track $index) {
            <div>
                <div>Name: {{user.name}}</div>
                <div>Playing: {{user.characters?.at(0)?.name}}</div>
            </div>
        }
    }
}

