@switch (uiState()) {
    @case (uiStates.UserMenu) {
        <div style="border: 1px solid; border-radius: 4px;">
            <h5>Create Account or sign In</h5>
            <div style="display: flex; gap: 8px;">
                <form [formGroup]="createUserForm">
                    <div>Create Account</div>
                    <div>
                        <span>Name</span>
                        <input formControlName="name" />
                    </div>
                    <div>
                        <span>Email</span>
                        <input formControlName="email" />
                    </div>
                    <button (click)="createUser()">Enter</button>
                </form>
                <form [formGroup]="loadUserForm">
                    <div>Load Account</div>
                    <div>
                        <span>Email</span>
                        <input formControlName="email" />
                    </div>
                    <button (click)="loadUser()">Enter</button>
                </form>
            </div>
        </div>
    }
    @case (uiStates.BattleMenu) {
        <button (click)="createBattle()">Create New Battle</button>
        <form [formGroup]="existingBattleForm">
            <span>Load Existing Battle</span>
            <input formControlName="battleId" />
            <button (click)="loadBattle()">Enter</button>
        </form>
    }
    @case (uiStates.CharacterMenu) {
        @if (userCharacter() === null) {
            <div>Create Character</div>
            <form [formGroup]="createCharacterForm">
                <div>
                    <label for="characterName">Character Name</label>
                    <input id="characterName" formControlName="name" />
                </div>
                <div>
                @for (class of classes(); track $index) {
                        <label for="characterClass">{{ class.name }}</label>
                        <input type="radio" id="characterClass" formControlName="classId" [value]="class.classId"/>
                    }
                </div>
                <button (click)="createCharacter()">Create Character</button>
            </form>
        }
        @if (userCharacter() !== null) {
            Use {{ userCharacter()?.name }} and join the battle?
        }
    }
    @case (uiStates.Map) {
        <div>Current Players:</div>
        @for (user of usersInBattle(); track $index) {
            <div>
                <div>Name: {{user.name}}</div>
                <div>Playing: {{user.characters?.at(0)?.name}}</div>
            </div>
        }
    }
}

