<ng-container [@switch]="this.uiState()">
    <div [@case]="uiStates.UserMenu">
        <div style="border: 1px solid; border-radius: 4px;">
            <h5>Create Account or sign In</h5>
            <div>
                <form [formGroup]="createUserForm">
                    <div>Create Account</div>
                    <div>
                        <span>Name</span>
                        <input formControlName="name" />
                    </div>
                    <div>
                        <span>Email</span>
                        <input formControlName="email" />
                    </div>
                    <button (click)="createUser()">Enter</button>
                </form>
                <form [formGroup]="loadUserForm">
                    <div>Load Account</div>
                    <div>
                        <span>email</span>
                        <input formControlName="email" />
                    </div>
                    <button (click)="loadUser()">Enter</button>
                </form>
            </div>
        </div>
    </div>
    <div [@case]="uiStates.BattleMenu">
        <button (click)="createBattle()">Create New Battle</button>
        <form [formGroup]="existingBattleForm">
            <span>Load Existing Battle</span>
            <input formControlName="battleId" />
            <button (click)="loadBattle()">Enter</button>
        </form>
    </div>
    <div [@case]="uiStates.CharacterMenu">
        <div [@if]="userCharacter() === null">
            Create a character
        </div>
        <div [@if]="userCharacter() !== null">
            Use {{ userCharacter()?.name }} and join the battle?
        </div>
    </div>
    <div [@case]="uiStates.BattleMenu">

    </div>

</ng-container>
