<div>Create Character</div>
<form [formGroup]="createCharacterForm">
    <div>
        <label for="characterName">Character Name</label>
        <input id="characterName" formControlName="name" />
    </div>
    <div>
    @for (class of classes(); track $index) {
            <label for="characterClass">{{ class.name }}</label>
            <input type="radio" id="characterClass" formControlName="classId" [value]="class.classId"/>
            <img style="height: 200px; width: 200px;" [src]="classService.getImageByClassId( class.classId )">
        }
    </div>
    <button (click)="createCharacter()">Create Character</button>
</form>
<br>
<br>
<br>
<h4>List of Characters</h4>
<div style="display: flex; flex-direction: column; gap: 8px;">
    @for (character of characters(); track $index) {
        <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column;">
                <div>Name: {{character.name}}</div>
                <div>Class: {{classService.getNameByClassId(character.classId)}}</div>
            </div>
            <img style="height: 100px; width: 100px;"  src={{character.image}}>
        </div>
    }
</div>
